<!DOCTYPE html>
<html>
<head>
    @Html.Partial("International/HttpsRedirect")

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-191RC7K5VT"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-191RC7K5VT');
    </script>

    <!-- Hotjar Tracking Code for https://gloziksoft.sk -->
    <script>
        (function (h, o, t, j, a, r) {
            h.hj = h.hj || function () { (h.hj.q = h.hj.q || []).push(arguments) };
            h._hjSettings = { hjid: 3602057, hjsv: 6 };
            a = o.getElementsByTagName('head')[0];
            r = o.createElement('script'); r.async = 1;
            r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
            a.appendChild(r);
        })(window, document, 'https://static.hotjar.com/c/hotjar-', '.js?sv=');
    </script>

    <!-- End Google Tag Manager -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="copyright" content="Copyright (c) Gloziksoft, s.r.o. All rights reserved." />
    <meta name="Keywords" content="softvér, analýza, návrh, design, dizajn, vývoj, programovanie, web, aplikácie" />
    <meta name="description" content="@ViewBag.Description" />
    <meta name="language" content="sk" />
    <meta name="content-language" content="sk" />
    <meta name="author" content="Gloziksoft - www.gloziksoft.sk" />
    <meta name="robots" content="noodp" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="@Url.Content("~/images/contact.png")" />
    <link href="@Url.Content("~/Content/css/bootstrap.min.css?20171007")" rel="stylesheet">
    <link href="@Url.Content("~/Content/css/bootstrap-theme.min.css?20170121")" rel="stylesheet">
    <link href="@Url.Content("~/Content/css/site.min.css?ver1")" rel="stylesheet">
    <link href="@Url.Content("~/Content/css/font-awesome.min.css")" rel="stylesheet">

    <script type="text/javascript" src='@Url.Content("~/Content/js/jquery-3.4.1.min.js")'></script>
    <script type="text/javascript" src='@Url.Content("~/Content/js/jquery.unobtrusive-ajax.min.js")'></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/Pgsoftweb.GoogleAnalytics-1.min.js")"></script>
    @*<script type="text/javascript" src="@Url.Content("~/Content/js/Pgsoftweb.Facebook.Pixel.min.js")"></script>*@
    <script type="text/javascript" src="@Url.Content("~/Content/js/bootstrap.jquery.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/bootstrap.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/scroll.min.js")"></script>
    @if (System.Configuration.ConfigurationManager.AppSettings["recaptchaVersion"] == "pgsoftweb")
    {
        <script type="text/javascript" src="@Url.Content("~/Content/js/Pgsoftweb.api.min.js")"></script>
    }
    else
    {
        @MvcHtmlString.Create(new www.pgsoftweb.sk_2023.Models.GoogleRecaptcha().HtmlHead("sk"))
    }

    <title>@ViewBag.Title | Gloziksoft</title>
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KFXGWZL" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <!--fb pixel-->
    @*<img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=1767206673502380&ev=PageView&noscript=1" />*@
    @*<script type="text/javascript">fbq('trackCustom', 'ViewSiteContent', { content_item: 'WEB_COM_SK' });</script>*@
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("Index", "HomeSk")" hreflang="sk"><img class="header-logo" src="@Url.Content("~/images/gloziksoft_logo.png")" height="85" alt="Gloziksoft, s.r.o." /></a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-left">
                    <li class="@ViewBag.CssClassMenuWeb">@Html.ActionLink("Tvorba webov", "Web_", "HomeSk", null, new { @hreflang = "sk" })</li>
                    <li class="@ViewBag.CssClassMenuPrice">@Html.ActionLink("Cena", "Price", "HomeSk", null, new { @hreflang = "sk" })</li>
                    <li><a href="https://os.gloziksoft.sk/sk/blog/" target="_blank" hreflang="sk">Blog</a></li>
                    <li class="@ViewBag.CssClassMenuContact">@Html.ActionLink("Kontakt", "Contact", "HomeSk", null, new { @hreflang = "sk" })</li>
                    <li class="navbar-divider"></li>
                    <li>@Html.ActionLink("EN", (string)ViewBag.LangAction, (string)ViewBag.LangControllerEn, null, new { @hreflang = "en" })</li>
                    <li>@Html.ActionLink("SK", (string)ViewBag.LangAction, (string)ViewBag.LangControllerSk, null, new { @hreflang = "sk" })</li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>

    <video class="portfolio" poster="@Url.Content("~/Content/video/portfolio.jpg")" playsinline autoplay muted loop>
        <source src="@Url.Content("~/Content/video/portfolio.webm")" type="video/webm">
        <source src="@Url.Content("~/Content/video/portfolio.mp4")" type="video/mp4">
    </video>

    @RenderBody()

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <p class="headline">Naše služby</p>
                    <ul class="our-services">
                        <li><a href="@Url.Action("Web_", "HomeSk")" hreflang="sk">Tvorba webových stránok</a></li>
                        <li><a href="@Url.Action("Web_Eshop", "HomeSk")" hreflang="sk">Tvorba eshopov</a></li>
                        <li><a href="@Url.Action("Web_Microsite", "HomeSk")" hreflang="sk">Tvorba mikrostránok</a></li>
                        <li><a href="@Url.Action("Web_Blog", "HomeSk")" hreflang="sk">Tvorba blogov</a></li>
                        <li><a href="@Url.Action("Web_Seo", "HomeSk")" hreflang="sk">SEO optimalizácia</a></li>
                    </ul>
                </div><!-- /.col-md-3 -->
                <div class="col-md-6">
                    <p class="headline">O nás</p>
                    <p>
                        Gloziksoft
                        Vyvíjame webové stránky, eshopy, mikrostránky, blogy na mieru.
                    </p>
                    <p class="socials">
                        <a class="square-icon" href="https://www.facebook.com/profile.php?id=61557529204426" target="_blank" title="Facebook"><i class="fa fa-facebook fa-fw"></i></a>
                        <a class="square-icon" href="https://twitter.com/peto7724/" target="_blank" title="Twitter"><i class="fa fa-twitter fa-fw"></i></a>
                        <a class="square-icon" href="https://www.instagram.com/gloziksoft/" target="_blank" title="Instagram"><i class="fa fa-instagram fa-fw"></i></a>
                        <a class="square-icon" href="https://www.youtube.com/channel/UC3E2HG-oAKHp6XQ0CP6ZtEg" target="_blank" title="YoutTube"><i class="fa fa-youtube fa-fw"></i></a>
                        <a class="square-icon" href="http://os.gloziksoft.sk/sk/blog" target="_blank" hreflang="sk" title="Blog"><i class="fa fa-bars fa-fw"></i></a>
                    </p>
                </div><!-- /.col-md-6 -->
                <div class="col-md-3">
                    <p class="headline">Kde nás nájdete</p>
                    <p class="contact">
                        <span class="rounded-icon"><i class="fa fa-map-marker fa-fw"></i></span> Školská 1573/31, Hriňová<br />
                        <span class="rounded-icon"><i class="fa fa-phone fa-fw"></i></span> +421 949 317 231<br />
                        <span class="rounded-icon"><i class="fa fa-envelope fa-fw"></i></span> peto7724@gmail.com<br />
                        <span class="rounded-icon"><i class="fa fa-sitemap fa-fw"></i></span> <a href="@Url.Action("Sitemap", "HomeSk")" hreflang="sk">Mapa stránky</a><br />
                        <span class="rounded-icon"><i class="fa fa-globe fa-fw"></i></span>
                        @Html.ActionLink("EN", (string)ViewBag.LangAction, (string)ViewBag.LangControllerEn, null, new { @hreflang = "en" })
                        @Html.ActionLink("SK", (string)ViewBag.LangAction, (string)ViewBag.LangControllerSk, null, new { @hreflang = "sk" })

                    </p>
                </div><!-- /.col-md-3 -->
            </div>
            <div class="footer-cardpay">
                <div class="rules">
                    <a href="@Url.Action("Contact", "HomeSk")">Kontakt</a>
                    <a href="@Url.Action("TradeRules", "HomeSk")">Obchodné podmienky</a>
                    <a href="@Url.Action("OOU", "HomeSk")">Ochrana osobných údajov</a>
                </div>
                <div>
                    <img src="@Url.Content("~/images/cardpay/logo_visa.gif")" alt="VISA" />
                    <img src="@Url.Content("~/images/cardpay/logo_visa_electron.gif")" alt="VISA ELECTRON" />
                    <img src="@Url.Content("~/images/cardpay/logo_mc.gif")" alt="MASTER CARD" />
                    <img src="@Url.Content("~/images/cardpay/logo_DC.jpg")" alt="DINERS CLUB" />
                    <img src="@Url.Content("~/images/cardpay/logo_maestro.gif")" alt="MAESTRO" />
                    <img src="@Url.Content("~/images/cardpay/logo_discover.jpg")" alt="DISCOVER" />
                </div>
            </div>
        </div>
    </footer>

    <a href="#" class="scrollToTop" title="Hore"><i class="fa fa-arrow-up fa-2x"></i></a>

    @RenderSection("scripts", required: false)
</body>
</html>
