@{
    Layout = null;
}

<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-protected" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <i id="menuIconProtect" class="menu-icon fa fa-bars"></i>
            </button>
        </div>
        <div id="navbar-product" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-left">
                <li class="@ViewBag.CssClassSubMenuWeb_">@Html.ActionLink("Webové stránky", "Web_", "HomeSk", null, new { @hreflang = "sk" })</li>
                <li class="@ViewBag.CssClassSubMenuWeb_Microsite">@Html.ActionLink("Mikrostránka", "Web_Microsite", "HomeSk", null, new { @hreflang = "sk" })</li>
                <li class="@ViewBag.CssClassSubMenuWeb_Blog">@Html.ActionLink("Blog", "Web_Blog", "HomeSk", null, new { @hreflang = "sk" })</li>
                <li class="@ViewBag.CssClassSubMenuWeb_Cms">@Html.ActionLink("Správa obsahu webu", "Web_Cms", "HomeSk", null, new { @hreflang = "sk" })</li>
                <li class="@ViewBag.CssClassSubMenuWeb_Eshop">@Html.ActionLink("E-shop", "Web_Eshop", "HomeSk", null, new { @hreflang = "sk" })</li>
                <li class="@ViewBag.CssClassSubMenuWeb_Seo">@Html.ActionLink("SEO", "Web_Seo", "HomeSk", null, new { @hreflang = "sk" })</li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
