@{
    Layout = "~/Views/SharedSk/_Layout.cshtml";
}

@Html.Partial("_ProductMenuSk")


<div class="background-img-portfolio margin-top-minus-20">
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    @*<span class="pull-right">
                        <img src="@Url.Content("~/images/online.png")" title="Vývoj moderných a ľahko použiteľných aplikácií" />
                    </span>
                    <h1>Vývoj softvéru na mieru</h1>
                    <p>
                        Vývoj moderných a ľahko použiteľných aplikácií pre špecifické účely podľa požiadaviek konkrétneho zákazníka.
                    </p>
                    <p class="normal">
                        <a href="@Url.Action("SEO_AppDevelopment", "HomeSk")" hreflang="sk">Vývoj aplikácií</a> a <a href="@Url.Action("SEO_SoftDevelopment", "HomeSk")" hreflang="sk">vývoj softvéru</a> na mieru.
                        Rozsiahle portfólio technológií a platforiem od desktopu, cez <a href="@Url.Action("SEO_WebDevelopment", "HomeSk")" hreflang="sk">webové stránky</a> a mobilné aplikácie až po internet vecí.
                    </p>*@
                    @*<p class="normal">
                        Bezchybná funkčnosť, jednoduchosť použitia, dodržanie termínov a ceny.
                    </p>*@
                </div><!-- /.col-md-12 -->
            </div>
        </div>
    </div>

    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <span class="pull-right">
                        @*<img src="@Url.Content("~/images/")" title="Web prezentácie" />*@
                    </span>
                    <h2>Web stránky</h2>
                    <p>Webové stránky, prezentácie a e-shopy, ktoré vám budú zarábať.</p>
                    <p class="normal">
                        Pútavé a ľahko použiteľné na akomkoľvek počítači, tablete a smartfóne. Obľúbené, často navštevované a dobre zarábajúce.
                    </p>
                    <p><a class="btn btn-primary btn-lg" href="@Url.Action("Web", "HomeSk")" hreflang="sk" role="button">Zistite viac &raquo;</a></p>
                </div><!-- /.col-md-12 -->
            </div>
        </div>
    </div>
</div>


