@{
    ViewBag.Title = "SEO";
    ViewBag.Description = "Optimalizácia pre vyhľadávače - viac návštevníkov, viac zákazníkov, vyššie príjmy, vyšší zisk.";
    Layout = "~/Views/SharedSk/_Layout.cshtml";
}

@Html.Partial("_ProductMenuWebSk")


<div class="margin-top-minus-20">
    <div class="jumbotron dark">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h1>Optimalizácia pre vyhľadávače</h1>
                    <p>Chcete viac návštevníkov, viac zákazníkov, viac objednávok?</p>
                    <p class="normal">Poradíme a pomôžeme vám zvýšiť príjmy z online predaja.</p>
                    <p class="normal"><a class="btn btn-primary btn-lg" href="@Url.Action("Contact", "HomeSk")" hreflang="sk" role="button">Kontaktujte nás &raquo;</a></p>
                </div><!-- /.col-md-8 -->
                <div class="col-md-4">
                    @*<img src="@Url.Content("~/images/seo.png")" title="Optimalizacia pre vyhľadávače" />*@
                </div><!-- /.col-md-4 -->
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            @*<img src="@Url.Content("~/images/seo-tasks.png")" title="SEO aktivity" />*@
        </div><!-- /.col-md-4 -->
        <div class="col-md-8">
            <h2>Čo je SEO?</h2>
            <p>
                SEO je skratka anglických slov Search Engine Optimization.
            </p>
            <p>
                Ide o súbor činností a techník, ktorých cieľom je zabezpečiť, aby sa konkrétna stránka zobrazila vo výsledkoch vyhľadávania
                na popredných pozíciách.
            </p>
            <p>
                V minulosti bolo základným kameňom pre SEO vytvorenie web stránky, so správnou štruktúrou, textami, obrázkami a kódom v pozadí.
                V mnohých prípadoch to postačilo na to, aby sa konkrétna stránka objavila na prvej strane vo vyhľadávaní cez Google.
            </p>
            <p>
                Od vzniku internetu už ubehlo veľa rokov a stránok na ňom sú milióny.
                Konkurencia narástla a tak už dnes nestačí iba <a href="@Url.Action("Web", "HomeSk")" hreflang="sk">dobre navrhnutá a vytvorená web stránka</a>.
                Dnešné SEO je úplne o iných technikách ako pred 10 rokmi. Už je to viac o práci konzultantov a copy writerov ako o práci
                programátorov.
            </p>
        </div><!-- /.col-md-8 -->
    </div>
    <div class="row">
        <div class="col-md-12">
            <hr />
        </div><!-- /.col-md-12 -->
    </div>
    <div class="row">
        <div class="col-md-8">
            <h3>Ako vám SEO pomôže?</h3>
            <p>
                Ak ľudia vyhľadávajú niečo na internete, tak väčšina z nich pozerá výsledky iba na prvej strane z výsledkov vyhľadávania.
                Dokonca viac ako 80% z nich si pozerá iba prvých 5 výsledkov.
            </p>
            <p>
                Ak nie ste vo výsledkoch vyhľadávania medzi prvými alebo dokonca nie ste ani na prvej strane,
                potom sa dramaticky znižuje návštevnosť vašej stránky z vyhľadávania.
            </p>
            <p>
                Ak chcete návštevnosť zvýšiť musíte viac investovať do reklamy a to vás stojí peniaze, ktoré ste mohli použiť na niečo iné.
            </p>
            <p>
                Nevravíme, že reklama nie je dôležitá. Hovoríme, že SEO aktivitami môžete dramaticky zvýšiť návštevnosť vašich stránok,
                počet objednávok a príjmy, ktoré z takto získaných objednávok plynú.
            </p>
            <p>
                Kvalitné SEO aktivity, podobne ako reklama, tiež nie sú zadarmo. Avšak ich výhodou je, že ak SEO prerušíte,
                tak jeho výsledky ešte niekoľko mesiacov, možno aj rok, či dva, budú stále badateľné a nezníži sa vám prílev zákazníkov.
                Ak prestane s reklamou, tak úbytok zákazníkov pocítite okamžite.
            </p>
            <p>
                SEO je teda výbornou aktivitou na zvyšovanie príjmov s dlhodobým účinkom.
            </p>
        </div><!-- /.col-md-8 -->
        <div class="col-md-4">
            @*<img src="@Url.Content("~/images/seo-income.png")" title="Zvyšovanie príjmov s dlhodobým účinkom" />*@
        </div><!-- /.col-md-4 -->
    </div>
    <div class="row">
        <div class="col-md-12">
            <hr />
        </div><!-- /.col-md-12 -->
    </div>
    <div class="row">
        <div class="col-md-4">
            <a href="@Url.Action("Contact", "HomeSk")" hreflang="sk">@*<img src="@Url.Content("~/images/seo-phone.png")" title="Kontaktujte SEO" />*@</a>
        </div><!-- /.col-md-4 -->
        <div class="col-md-8">
            <h2>Ako začať?</h2>
            <p>
                <a href="@Url.Action("Contact", "HomeSk")" hreflang="sk">Kontaktujte nás</a> a my vám poradíme a pomôžeme.
            </p>
            <p>
                Základné SEO činnosti zabezpečíme sami a pre pokročilé techniky vás skontaktujeme s profesionálnymi SEO agentúrami
                v závislosti od typu a rozsahu vášho podnikania.
            </p>
            <p>
                <a class="btn btn-default btn-lg" href="@Url.Action("Contact", "HomeSk")" hreflang="sk" role="button">Kontaktujte nás &raquo;</a>
            </p>
        </div><!-- /.col-md-8 -->
    </div>
</div>

@Html.Partial("_RegisterMail_PerfectWeb")
@Html.Partial("_WebProjects")
