@{
    ViewBag.Title = "Realizované weby";
    ViewBag.Description = "Ukážky pekných a moderných webových stránok. Najrýchlejšia tvorba prvotriednych webov.";
    ViewBag.Noodp = "1";
    Layout = "~/Views/SharedSk/_Layout.cshtml";
}

@Html.Partial("_ProductMenuWebSk")


<div class="margin-top-minus-20">
    <div class="jumbotron dark">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Moje projekty</h1>
                </div><!-- /.col-md-12 -->
            </div>
        </div>
        @Html.Partial("_Testimonials")
    </div>
</div>

<div class="container our-work">
    <div class="row">
        <div class="col-md-6 project-item">
            <h2><strong>Vzor firemnej stránky v ASP.NET MVC</strong></h2>
            <p>Vytvorenie firemnej stránky pomocou model-view-controller (MVC) architektúry. <br /> Návrh a implementácia základnej štruktúry webu so zameraním na modularitu a čistý kód.</p>
            <a href="http://www.gloziksoft.sk" target="_blank">
                <img class="img-thumbnail margin-top" src="@Url.Content("~/images/gloziksoft.png")" title="FIREMNA STRANKA" />
            </a>
        </div><!-- /.col-md-6 -->
        <div class="col-md-6 project-item">
            <h2><strong>Vzor osobnej stránky v ASP.NET CMS Umbraco</strong></h2>
            <p>Využitie ASP.NET CMS Umbraco na vytvorenie profesionálnej osobnej prezentácie s dôrazom na správu obsahu.</p>
            <a href="http://os.gloziksoft.sk" target="_blank">
                <img class="img-thumbnail margin-top" src="@Url.Content("~/images/os.png")" title="OSOBNA STRANKA" />
            </a>
        </div><!-- /.col-md-6 -->
    </div>

    <div class="row">
        <div class="col-md-6 project-item">
            <h2><strong>Vzor e-shopu v ASP.NET CMS Umbraco</strong></h2>
            <p>Realizácia e-shopu s použitím ASP.NET CMS Umbraco, vrátane funkcií na správu produktov a nákupného košíka.</p>
            <a href="http://eshop.gloziksoft.sk" target="_blank">
                <img class="img-thumbnail margin-top" src="@Url.Content("~/images/eshop.png")" title="E-SHOP" />
            </a>
        </div><!-- /.col-md-6 -->
        <div class="col-md-6 project-item">
            <h2><strong>Task manager v ASP.NET Core</strong></h2>
            <p>Vývoj aplikácie na správu úloh pomocou ASP.NET Core s cieľom uľahčiť tímovú spoluprácu a sledovanie projektov.</p>
            <a href="http://pz.gloziksoft.sk" target="_blank">
                <img class="img-thumbnail margin-top" src="@Url.Content("~/images/taskmanager.png")" title="TASK MANAGER" />
            </a>
        </div><!-- /.col-md-6 -->
    </div>

    <div class="row">
        <div class="col-md-6 project-item">
            <h2><strong>Webstránka v HTML, CSS, JavaScript, Bootstrap</strong></h2>
            <p>Kompletné vytvorenie responzívneho webu s využitím HTML, CSS, JavaScriptu a Bootstrapu.</p>
            <a href="http://tw.gloziksoft.sk" target="_blank">
                <img class="img-thumbnail margin-top" src="@Url.Content("~/images/pizza1.png")" title="PIZZA" />
            </a>
        </div><!-- /.col-md-6 -->
        <div class="col-md-6 project-item">
            <h2><strong>Reálny projekt – ponuka práce v ASP.NET CMS Umbraco</strong></h2>
            <p>Vyvinutie reálnej webovej aplikácie pre podnikateľa, ktorá umožňuje efektívne spravovať ponuky práce s použitím ASP.NET CMS Umbraco.</p>
            <a href="http://www.goodwords.cz" target="_blank">
                <img class="img-thumbnail margin-top" src="@Url.Content("~/images/goodwords.png")" title="GOODWORDS" />
            </a>
        </div><!-- /.col-md-6 -->
    </div>
</div>