@{
    ViewBag.Title = "E-shop";
    ViewBag.Description = "Jedinečný e-shop s top funkciami za atraktívnu cenu. Moderné a flexibilné riešenie pre tvorbu e-shopov.";
    Layout = "~/Views/SharedSk/_Layout.cshtml";
}

@Html.Partial("_ProductMenuWebSk")


<div class="background-img-eshop margin-top-minus-20">
    <div class="jumbotron">
        <div class="container">
            <div class="row margin-top">
                <div class="col-md-12">
                    <h1>E-shop</h1>
                    <p>Jedinečný e-shop s top funkciami za atraktívnu cenu.</p>
                    <p class="normal">Chcete moderný a flexibilný e-shop, ktorý bude zarábať?</p>
                    <p class="normal"><a class="btn btn-primary btn-lg" href="@Url.Action("Contact", "HomeSk")" hreflang="sk" role="button">Kontaktujte nás &raquo;</a></p>
                </div><!-- /.col-md-12 -->
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h2>Vlastný e-shop rýchlo a jednoducho</h2>
            <p>
                Vytvárame e-shopy na mieru s funkčným dizajnom a overeným postupom predaja a spracovania objednávok.
            </p>
            <p>
                Nemusíte študovať rozsiahle návody a nastavovať množstvo rôznych parametrov, aby ste mohli začať predávať.
                Všetko vytvoríme za vás a vy získate e-shop s unikátnym dizajnom a funkčným predajným procesom.
            </p>
            <p>
                Garantujeme vám férovú cenu bez dodatočných skrytých poplatkov, napr. za navyšovanie počtu kategórií alebo zoznamu produktov vo vašom e-shope.
            </p>
            <p>
                Nami vytvárané e-shopy sú postavené na stabilnej a tisíckami zákazníkov overenej platforme,
                ktorá zabezpečuje bezchybnú funkčnosť a jednoduché ovládanie.
            </p>
        </div><!-- /.col-md-8 -->
        <div class="col-md-4">
            @*<img src="@Url.Content("~/images/eshop.png")" title="E-shop" />*@
        </div><!-- /.col-md-4 -->
    </div>
    <div class="row">
        <div class="col-md-4">
            @*<img src="@Url.Content("~/images/eshop-expand.png")" title="E-shop, ktorý rastie s vami" />*@
        </div><!-- /.col-md-4 -->
        <div class="col-md-8">
            <h2>E-shop, ktorý rastie s vami</h2>
            <p>
                Nie je nič horšie ako kúpiť riešenie, ktoré vám pri rozširovaní vášho podnikania bude hádzať polená pod nohy.
            </p>
            <p>
                S e-shopom od nás získate riešenie, ktoré bude rásť s vami. Obmedzenia na počet kategórií alebo nebodaj produktov
                žiadne nekladieme.
            </p>
            <p>
                Objednávky môže vybavovať jeden alebo viacero operátorov súčasne.
                Priamo v e-shope vidíte stav vybavenia a úhrady objednávok.
                Už sa vám nestane, že sa niektorá objednávka nestihne vybaviť alebo sa stratí v spleti ostatných e-mailov.
            </p>
            <p>
                E-shop je plne integrovaný s vaším webom a rozhranie na úpravu obsahu webu aj e-shopu, či blogu máte iba jedno.
                Nemusíte sa učiť obsluhovať rôzne typy systémov na to, aby ste niečo zmenili na vašom webe, blogu, či e-shope.
            </p>
            <p>
                Samozrejmosťou je možnosť prideľovania oprávnení jednotlivým zamestnancom vašej spoločnosti a každý z nich,
                tak mení a obsluhuje iba tú časť systému, do ktorej má pridelené príslušné oprávnenia.
            </p>
            <p>
                Plánujete predaj aj mimo územia Slovenska? Potom určite oceníte jednoduchú možnosť prekladu celého obsahu webu aj e-shopu
                do akéhokoľvek jazyka a možnosť úpravy procesov spracovania podľa pravidiel platných pre danú krajinu.
            </p>
        </div><!-- /.col-md-8 -->
    </div>
    <div class="row">
        <div class="col-md-8">
            <h2>Nadštandard ako štandard</h2>
            <p>
                Nami dodávané e-shopy disponujú nadštandardnými funkciami, ktoré máte v iných e-shopoch za príplatky.
            </p>
            <p>
                Integrálnou súčasťou e-shopu je správa vystavených objednávok.
                Nemusíte sledovať e-maily a ani evidovať objednávky cez excel.
                Všetko máte pekne a prehľadne usporiadané a dostupné priamo v rozhraní e-shopu.
            </p>
            <p>
                Akciové produkty, výpredaje, zľavy a zľavové kupóny sú funkcie, ktoré isto oceníte pri vyprázdňovaní skladov
                alebo počas vianoc, či iných sviatkov. Motivujte a odmeňujte vašich zákazníkov.
                Oni sa k vám radi vrátia a odporučia vás svojim známym.
                S e-shopom od nás je to hračka.
            </p>
            <p>
                Chcete vedieť kedy a čo najviac predávate? Pre tento účel máte v e-shope pripravené reporty, prostredníctvom
                ktorých rýchlo zistíte čo a kedy sa vám najviac oplatí predávať.
            </p>
        </div><!-- /.col-md-8 -->
        <div class="col-md-4">
            @*<img src="@Url.Content("~/images/eshop-bonus.png")" title="Nadštandardný e-shop" />*@
        </div><!-- /.col-md-4 -->
    </div>
    <div class="row">
        <div class="col-md-4">
            @*<img src="@Url.Content("~/images/eshop-bestprice.png")" title="E-shop za najlepšiu cenu" />*@
        </div><!-- /.col-md-4 -->
        <div class="col-md-8">
            <h2>Najlepšia cena</h2>
            <p>
                S e-shopom od nás pripravíte ťažké chvíle konkurencii.
                Získajte riešenie, ktoré je skutočným pomocníkom v online predaji.
            </p>
            <p>
                Cena e-shopu pozostáva z jednorazovej platby za jeho vytvorenie a spustenie a pravidelného ročného
                poplatku za webhosting a SSL certifikát pre spoľahlivú a bezpečnú prevádzku a nakupovanie.
                SSL certifikát zabezpečí, že všetky údaje, ktoré nakupujúci zadáva sa pri odosielaní do e-shopu
                prenášajú v zašifrovanej forme, aby nedošlo k ich odcudzeniu a zneužitiu.
            </p>
            <p>
                Všetky funkcie e-shopu získate za férovú cenu bez dodatočných prekvapení a skrytých poplatkov.
                <a href="@Url.Action("Contact", "HomeSk")" hreflang="sk">Kontaktujte nás</a> a vyžiadajte si cenovú ponuku.
            </p>
        </div><!-- /.col-md-8 -->
    </div>
    <div class="row">
        <div class="col-md-12">
            <hr />
        </div><!-- /.col-md-12 -->
    </div>
    <div class="row">
        <div class="col-md-8">
            <h2>Chcete nový e-shop?</h2>
            <p>
                <a href="@Url.Action("Contact", "HomeSk")" hreflang="sk">Kontaktujte nás</a> a my váš nový e-shop vytvoríme a nastavíme.
                Ako bonus od nás získate rady a pomoc ako e-shop zviditeľniť a priviesť naň zákazníkov.
                Pomôžeme vám vytvoriť <a href="@Url.Action("EBOOK_WebThatSales", "HomeSk")" hreflang="sk">web, ktorý zarába</a>.
            </p>
            <p>
                <a class="btn btn-default btn-lg" href="@Url.Action("Contact", "HomeSk")" hreflang="sk" role="button">Kontaktujte nás &raquo;</a>
            </p>
        </div><!-- /.col-md-8 -->
        <div class="col-md-4">
            <a href="@Url.Action("Contact", "HomeSk")" hreflang="sk">@*<img src="@Url.Content("~/images/eshop-phone.png")" title="Chcem svoj e-shop" />*@</a>
        </div><!-- /.col-md-4 -->
    </div>
</div>

@Html.Partial("_RegisterMail_PerfectWeb")
@Html.Partial("_WebProjects")

