@{
    ViewBag.Title = "Websites and applications";
    ViewBag.Description = "Websites design. Nice and reliable websites and applications on any device.";
}

@Html.Partial("_ProductMenu")


<div class="margin-top-minus-20">
    <div class="jumbotron dark">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>My Projects</h1>
                </div><!-- /.col-md-12 -->
            </div>
        </div>
    </div>
</div>

<div class="container our-work">
    <div class="row">
        <div class="col-md-6 project-item">
            <h2><strong>Corporate Website Template in ASP.NET MVC</strong></h2>
            <p>Creation of a corporate website using the model-view-controller (MVC) architecture. Designing and implementing the basic structure of the website focusing on modularity and clean code.</p>
            <a href="http://www.gloziksoft.sk" target="_blank">
                <img class="img-thumbnail margin-top" src="@Url.Content("~/images/gloziksoft.png")" title="CORPORATE WEBSITE" />
            </a>
        </div><!-- /.col-md-6 -->
        <div class="col-md-6 project-item">
            <h2><strong>Personal Website Template in ASP.NET CMS Umbraco</strong></h2>
            <p>Utilizing ASP.NET CMS Umbraco to create a professional personal portfolio with an emphasis on content management.</p>
            <a href="http://os.gloziksoft.sk" target="_blank">
                <img class="img-thumbnail margin-top" src="@Url.Content("~/images/os.png")" title="PERSONAL WEBSITE" />
            </a>
        </div><!-- /.col-md-6 -->
    </div>

    <div class="row">
        <div class="col-md-6 project-item">
            <h2><strong>Online Store Template in ASP.NET CMS Umbraco</strong></h2>
            <p>Implementation of an online store using ASP.NET CMS Umbraco, including features for product management and shopping cart.</p>
            <a href="http://eshop.gloziksoft.sk" target="_blank">
                <img class="img-thumbnail margin-top" src="@Url.Content("~/images/eshop.png")" title="ONLINE STORE" />
            </a>
        </div><!-- /.col-md-6 -->
        <div class="col-md-6 project-item">
            <h2><strong>Task Manager in ASP.NET Core</strong></h2>
            <p>Development of a task management application using ASP.NET Core aimed at facilitating team collaboration and project tracking.</p>
            <a href="http://pz.gloziksoft.sk" target="_blank">
                <img class="img-thumbnail margin-top" src="@Url.Content("~/images/taskmanager.png")" title="TASK MANAGER" />
            </a>
        </div><!-- /.col-md-6 -->
    </div>

    <div class="row">
        <div class="col-md-6 project-item">
            <h2><strong>Website in HTML, CSS, JavaScript, Bootstrap</strong></h2>
            <p>Complete creation of a responsive website utilizing HTML, CSS, JavaScript, and Bootstrap.</p>
            <a href="http://tw.gloziksoft.sk" target="_blank">
                <img class="img-thumbnail margin-top" src="@Url.Content("~/images/pizza1.png")" title="PIZZA" />
            </a>
        </div><!-- /.col-md-6 -->
        <div class="col-md-6 project-item">
            <h2><strong>Real Project – Job Offers in ASP.NET CMS Umbraco</strong></h2>
            <p>Development of a real web application for an entrepreneur that allows for effective management of job offers using ASP.NET CMS Umbraco.</p>
            <a href="http://www.goodwords.cz" target="_blank">
                <img class="img-thumbnail margin-top" src="@Url.Content("~/images/goodwords.png")" title="GOODWORDS" />
            </a>
        </div><!-- /.col-md-6 -->
    </div>
</div>